/* ========================================
   CSS VARIABLES SYSTEM - BOLOGNA MARATHON
   ======================================== */

:root {
    /* Gradients Fissi */
    --gradient-dark: linear-gradient(135deg, #0c0c19 0%, #1a1a2e 100%);
    --gradient-hero: linear-gradient(135deg, rgb(8 8 15 / 80%) 0%, rgb(64 64 79 / 80%) 100%);

    /* Testi */
    --text-primary: #ffffff;
    --text-secondary: rgb(209 213 219);
    --text-muted: rgb(156 163 175);
    --text-dark: #000000;

    /* Backgrounds */
    --bg-primary: #0b0b15;
    --bg-glass: rgba(255,255,255,0.05);
    --bg-glass-hover: rgba(255,255,255,0.08);
    /* --bg-glass-color: rgb(var(--primary-rgb) , 13%); */

    /* Typography */
    --font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    --font-display: "Bebas Neue", "Arial Black", sans-serif;
    --font-accent: "Gloss And Bloom", serif;
    
    /* Typography - Strong/Bold sui titoli */
    --title-strong-color: var(--primary);
    --title-bold-color: var(--primary);
    --text-h1: 6rem;
    --text-h2: var(--text-h1);
    --text-h3: 3.5rem;
    --text-h4: 2.5rem;
    --text-h5: 1.7rem;
    --text-h6:  1rem;
    
    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-2xl: 4rem;
    --space-3xl: 6rem;
    --space-4xl: 8rem;

    /* Border Radius */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;
    --radius-full: 50px;

    /* Shadows */
    --shadow-sm: 0 2px 4px rgba(0,0,0,0.1);
    --shadow-md: 0 4px 8px rgba(0,0,0,0.15);
    --shadow-lg: 0 10px 25px rgba(0,0,0,0.2);
    --shadow-xl: 0 20px 40px rgba(0,0,0,0.3);

    /* Z-Index */
    --z-dropdown: 1000;
    --z-sticky: 1020;
    --z-fixed: 1030;
    --z-modal: 1040;
    --z-tooltip: 1050;

    /* Transitions */
    --transition-fast: 0.15s ease;
    --transition-normal: 0.3s ease;
    --transition-slow: 0.6s ease;

   /*menu search AI*/
    --menu-height: 80px;
    --menu-bg-glass: rgba(255,255,255,0.1);
    --search-bg: rgb(255 255 255 / 6%);
    --search-border: rgba(255,255,255,0.2);
    --search-border-focus: var(--primary);
    --mobile-overlay-bg: var(--primary);

    /* Layout System */
    --container-max-width: 1200px;
    --container-padding: var(--space-md);
    --grid-columns: 12;
    --grid-gap: var(--space-md);
    --grid-gap-sm: var(--space-sm);
    --grid-gap-lg: var(--space-lg);
    --grid-gap-lg: var(--space-xm);
    --grid-gap-xs: var(--space-xs);
    
    /* Breakpoints */
    --bp-xs: 0px;
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xl: 1200px;
    --bp-xxl: 1400px;
}

